.header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  background-color: var(--header-bg);

  border-bottom: 1px solid var(--border);

  &:not(:first-child) {
    border-left: 1px solid var(--border);
  }
}

.sort {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  cursor: pointer;
  color: var(--fg);
  box-sizing: border-box;
}

.sort--active {
  color: var(--color-blue-400);
}

.sort__icon {
  margin-left: 0.5rem;
  font-size: 0.75em;
  opacity: 0.6;
}
