.row {
  transition: background-color 0.1s;
  background-color: var(--row-bg);

  &:nth-child(2n + 1) {
    background-color: color-mix(in srgb, var(--row-bg), white 1%);
  }

  &:hover {
    background-color: var(--row-bg-hover);
  }
}

.cell {
  padding: 0.5rem 0.75rem;
  font-variant-numeric: tabular-nums;
  border-top: 1px solid var(--border);

  &:not(:first-child) {
    border-left: 1px solid var(--border);
  }
}
